<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>140</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>139</string>
					<key>Timestamp</key>
					<string>729057182.060673</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Worker schedules/View/Workers/EditWorkerView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            factoryIndex = factories.firstIndex{$0 === worker.factory}!
</string>
				<key>leading</key>
				<string>            phone = worker.phone
            selectPlace = worker.adress
</string>
				<key>trailing</key>
				<string>            oldFactoryIndex = factories.firstIndex{$0 === worker.factory}!
        }
    }
</string>
			</dict>
			<key>title</key>
			<string>Может привезти к ошибкеОпционал может и не вернуть число</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
